body {
font-family:'Courier New', Courier, monospace;
font-size: 18px;
color: white;
margin: 0px 0px;
background-size: contain;
background-color: #333a48;
min-width: 250px;
}

header {
   text-align: center;
   background-color: #485671;
   padding: 10px 40px;
   border-bottom: 1.5px solid black;
}

.colors {
   font-family:'Courier New', Courier, monospace;
   font-size: 18px;
   color: white;
   background-color:#485671;
   border: 1px solid black;
   margin-right: 15px;
}

.colors:hover {
   background-color: #333a48;
}

.eraser-checkbox {
   cursor: pointer;
}

.clear {
   cursor: pointer;
   margin-left: 19px;
   font-family:'Courier New', Courier, monospace;
   font-size: 18px;
   color: white;
   background-color:#485671;
   border: 1px solid black;
}

.clear:hover {
   background-color: #333a48;
}

main {
   padding-top: 3%;
   padding-bottom: 1%;
}

.field {
   display: flex;
   flex-wrap: wrap;
   border: 2px solid black;
   width: 378px;
   margin-left: auto;
   margin-right: auto;
}

.pixel {
   cursor: pointer;
   width: 40px;
   height: 40px;
   background-color: white;
   border: 1px solid #333a48;
}
